<!DOCTYPE html>
<html lang="vi">
<% include ../../partials/head %>

<body>
    <% include ../../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li><a href="/products/industrial-scales" target="_self"><%- i18n.__("industrial-scale") %></a></li>
                    <li class="active"><span><%- i18n.__("hand-pallet") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="services2" style="background: #E9E9E9">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 title="TT-bX Type" class="text-left"><span><%- i18n.__("hand-pallet") %></span></h2><br />
                <p class="just"><%- i18n.__("hand-pallet-p") %></p>
            </div>
        </div>
    </section>

    <section class="calltoaction home3" style="background: #fff">
        <div class="row spacing-45">
            <div class="col-md-offset-1 col-sm-10">
                <h3><%- i18n.__("appearance") %></h3>
                <hr>
                <img style="max-height: 400px" src="/images/hand-pallet-atex.jpg" alt="Hand Pallet ATEX Specification">
                <h3><%- i18n.__("features") %></h3>
                <hr>
                <ul>
                    <li><%- i18n.__("hand-pallet-feature-li-1") %></li>
                    <li><%- i18n.__("hand-pallet-feature-li-2") %></li>
                    <li><%- i18n.__("hand-pallet-feature-li-3") %></li>
                    <li><%- i18n.__("hand-pallet-feature-li-4") %></li>
                    <li><%- i18n.__("hand-pallet-feature-li-5") %></li>
                </ul>
                <p><%- i18n.__("hand-pallet-note-1") %></p>
                <p><%- i18n.__("hand-pallet-note-2") %></p>
                <p><%- i18n.__("hand-pallet-note-3") %></p>
                <h3><%- i18n.__("specification") %></h3>
                <hr>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <thead>
                            <tr>
                                <th><%- i18n.__("model") %></th>
                                <th>DPS-1000bX</th>
                                <th>DPS-1500bX</th>
                                <th>DPS-1000SbX</th>
                                <th>DPS-1500SbX</th>
                            </tr>
                        </thead>
                        <tbody class="table01">

                            <tr>
                                <td><%- i18n.__("capacity") %></td>
                                <td>1,000kg</td>
                                <td>1,500kg</td>
                                <td>1,000kg</td>
                                <td>1,500kg</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("scale-interval") %></td>
                                <td>500g</td>
                                <td>1kg</td>
                                <td>500g</td>
                                <td>1kg</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("main-material") %></td>
                                <td colspan="2"><%- i18n.__("steel") %></td>
                                <td colspan="2"><%- i18n.__("hand-pallet-stainless-steel") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("material-caster") %></td>
                                <td colspan="2"><%- i18n.__("hand-pallet-material-p-1") %></td>
                                <td colspan="2"><%- i18n.__("hand-pallet-material-p-2") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("product-dimension") %></td>
                                <td colspan="2">590 (W)×1,910 (L)×1,170(H)mm</td>
                                <td colspan="2">590 (W) ×1,860 (L)×1,170(H)mm</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("platform-dimension") %></td>
                                <td colspan="2"><%- i18n.__("hand-pallet-platform-dimension-p-1") %></td>
                                <td colspan="2"><%- i18n.__("hand-pallet-platform-dimension-p-2") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("max-height") %></td>
                                <td>196mm</td>
                                <td>200mm</td>
                                <td>196mm</td>
                                <td>200mm</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("min-height") %></td>
                                <td>82mm</td>
                                <td>86mm</td>
                                <td>82mm</td>
                                <td>86mm</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("power") %></td>
                                <td colspan="4"><%- i18n.__("hand-pallet-power-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("battery") %></td>
                                <td colspan="4"><%- i18n.__("hand-pallet-battery-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("pf9-tb-operating") %></td>
                                <td colspan="4">-5℃～35℃</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("indicator") %></td>
                                <td colspan="4"><%- i18n.__("hand-pallet-indicator-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("dust-waterproof") %></td>
                                <td colspan="4"><%- i18n.__("hand-pallet-dust-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("options") %></td>
                                <td colspan="4"><%- i18n.__("hand-pallet-options-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("examination") %></td>
                                <td colspan="4"><%- i18n.__("none") %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3><%- i18n.__("external-form") %></h3>
                <hr>
                <img src="/images/hand-pallet-detail.jpg" alt="Hand Pallet ATEX Specification">
            </div>
    </section>
    <% include ../../partials/footer %>
</body>
<% include ../../partials/scripts %>

</html>