<!-- FOOTER -->
<section class="footer">
    <div class="footer-widgets">
        <div class="row">
            <!-- FOOTER WIDGET -->
            <div class="col-sm-9 col-xs-12">
                <div class="footer-widget">
                    <div class="small-logo"><img id="logo-footer" src="/images/logo_footer.png" alt="Công ty lắp đặt hệ thống trồng rau sạch hữu cơ"></div>
                    <ul class="contact">
                        <li>
                            <p>
                                <i class="fa fa-map-marker fa-2x"></i>
                                <%- i18n.__("company_address") %>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-phone fa-2x"></i>
                                02513 566 151
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="mailto:info@tanaka-scale-vietnam.com"><i class="fa fa-envelope-o fa-2x"></i>
                                    info@tanaka-scale-vietnam.com
                                </a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="/">
                                    <i class="fa fa-globe fa-2x"></i>
                                    http://www.tanaka-scale-vietnam.com
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER WIDGET -->

            <!-- FOOTER WIDGET -->
            <div class="col-sm-3 hidden-xs">
                <div class="footer-widget">
                    <h5 class="uppercase"><%- i18n.__("links") %></h5>
                    <ul class="posts">
                        <li><a href="/"><%- i18n.__("nav_home") %></a></li>
                        <li><a href="/about"><%- i18n.__("nav_about") %></a></li>
                        <li><a href="/products"><%- i18n.__("nav_products") %></a></li>
                        <li><a href="/news"><%- i18n.__("nav_news") %></a></li>
                        <li><a href="/contact"><%- i18n.__("nav_contact") %></a></li>
                    </ul>
                </div>
            </div>

            <!-- END FOOTER WIDGET -->

        </div>
    </div>
</section>

<div class="copyright">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">Copyright &copy; 2019 by Tanaka Vietnam Co.,Ltd</p>
        </div>
    </div>
</div>

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- END OF FOOTER -->