<!-- HEADER izi -->
<div class="header header2">
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="row">
            <div class="col-sm-6">
                <ul class="phone">
                    <li><a href="tel:0251 3566 151"><i class="fa fa-phone-square"></i> 0251 3566 151</a></li>
                    <li><a href="mailto:info@tanaka-scale-vietnam.com"><i class="fa fa-envelope-square"></i>
                            info@tanaka-scale-vietnam.com</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <ul class="toplinks list-inline">
                        <li><a href="/vi">VN</a></li>
                        <li ><a href="/en">EN</a></li>
                        <!-- <li><a href="/jp">JP</a></li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END OF TOP BAR -->

    <!-- LOGO & NAVIGATION -->
    <div class="header-navigation">
        <div class="row">
            <div class="col-sm-12">
                <div class="logonav">
                    <div class="row no-gutter">
                        <div class="col-sm-4">
                            <div class="logo">
                                <a href="/"><img id="logo" src="/images/logo.png"
                                        alt="Công ty TNHH Tanaka Việt Nam" /></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <nav id="desktop-menu">
                                <ul class="sf-menu" id="navigation">
                                    <li><a href="/"><%- i18n.__("nav_home") %></a></li>
                                    <li class="menu-item"><a href="/about"><%- i18n.__("nav_about") %></a>
                                        <ul>
                                            <li class="relative-sub3"><a
                                                    href="/our-history"><%- i18n.__("nav_history") %></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/products"><%- i18n.__("nav_products") %></a>
                                        <ul>
                                            <li class="relative-sub3"><a
                                                    href="/products/floor-scales"><%- i18n.__("floor-scale") %></a>
                                            </li>
                                            <li class="relative-sub3"><a
                                                    href="/products/truck-scales"><%- i18n.__("truck-scale") %></a>
                                            </li>
                                            <li class="relative-sub3"><a
                                                    href="/products/bench-scales"><%- i18n.__("bench-scale") %></a>
                                            </li>
                                            <li class="relative-sub3"><a
                                                    href="/products/livestock-scales"><%- i18n.__("livestock-scale") %></a>
                                            </li>
                                            <li class="relative-sub3"><a
                                                    href="/products/industrial-scales"><%- i18n.__("industrial-scale") %></a>
                                            </li>
                                            <li class="relative-sub3"><a
                                                    href="/products/maintenance-services"><%- i18n.__("maintenace-service") %></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/news"><%- i18n.__("nav_news") %></a></li>
                                    <li><a href="/contact"><%- i18n.__("nav_contact") %></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF LOGO & NAVIGATION -->
    <!-- PAGE HEADER -->
</div>

<!-- END OF HEADER -->