<!DOCTYPE html>
<html lang="vi">
<% include partials/head %>

<body>
    <% include partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_history") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/" target="_self"><%- i18n.__("nav_home") %></a></li>
                    <li class="active"><span><%- i18n.__("nav_history") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="timeline">
        <div class="container">
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content js--fadeInLeft">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-1") %></div>
                    <p><%- i18n.__("timeline-1") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-2") %></div>
                    <p><%- i18n.__("timeline-2") %></p>
                </div>

            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">

                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-3") %></div>
                    <p><%- i18n.__("timeline-3") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-4") %></div>
                    <p><%- i18n.__("timeline-4") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content  js--fadeInLeft">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-5") %></div>
                    <p><%- i18n.__("timeline-5") %></p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content  js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-6") %></div>
                    <p><%- i18n.__("timeline-6") %></p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content js--fadeInLeft">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-7") %></div>
                    <p><%- i18n.__("timeline-7") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content  js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-8") %></div>
                    <p><%- i18n.__("timeline-8") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <div class="date"><%- i18n.__("history-time-9") %></div>
                    <h2></h2>
                    <p><%- i18n.__("timeline-9") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content  js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-10") %></div>
                    <p><%- i18n.__("timeline-10") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <div class="date"><%- i18n.__("history-time-11") %></div>
                    <h2></h2>
                    <p><%- i18n.__("timeline-11") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content  js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-12") %></div>
                    <p><%- i18n.__("timeline-12") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <div class="date"><%- i18n.__("history-time-13") %></div>
                    <h2></h2>
                    <p><%- i18n.__("timeline-13") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content  js--fadeInRight">
                    <h2></h2>
                    <div class="date"><%- i18n.__("history-time-14") %></div>
                    <p><%- i18n.__("timeline-14") %></p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <div class="date"><%- i18n.__("history-time-15") %></div>
                    <h2></h2>
                    <p><%- i18n.__("timeline-15") %></p>
                </div>
            </div>
            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content timeline-card js--fadeInRight">
                    <img style="margin-bottom: 10px" src="/images/tsv.jpg" alt="Tanaka Scale Vietnam">
                    <div class="date"><%- i18n.__("history-time-16") %></div>
                    <p><%- i18n.__("timeline-16") %></p>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>
</body>
<% include partials/scripts %>

</html>