<!DOCTYPE html>
<html lang="vi">
<% include partials/head %>

<body>
    <% include partials/header %>
    <!-- Slide -->
    <div class="slider-pro" id="index-slider2">
        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="/images/slide_1.jpg" alt="" />
                <div class="hw-the-slider-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                                <div class="hw-the-slider-captions sp-layer" data-show-transition="left"
                                    data-show-delay="800">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="/images/slide_2.jpg" alt="" />
                <div class="hw-the-slider-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                                <div class="hw-the-slider-captions sp-layer" data-show-transition="left"
                                    data-show-delay="800">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="/images/slide_3.jpg" alt="" />
                <div class="hw-the-slider-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                                <div class="hw-the-slider-captions sp-layer" data-show-transition="left"
                                    data-show-delay="800">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF Slide -->

    <!-- Introduction -->
    <section class="features">
        <div class="row">

            <div class="col-md-6">
                <h3><%- i18n.__("about-tanaka") %></h3>
                <div class="feature">
                    <p><%- i18n.__("about-tanaka-p") %></p>
                    <div class="calltoaction home3 cta-button">
                        <a href="/about" class="hw-btn"
                            style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("read-more") %></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="/images/company.jpg" alt="Tanaka Việt Nam" />
            </div>

        </div>
    </section>

    <!-- END OF Introduction -->


    <!-- Products -->

    <section class="calltoaction home3">

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h2 title="SẢN PHẨM CỦA CHÚNG TÔI"><%- i18n.__("our-products") %></h2>
            </div>
        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                <a href="/products/floor-scales" aria-label="Cân sàn">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/floor-scale.jpg" alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales" aria-label="Cân sàn" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("floor-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                <a href="/products/truck-scales" aria-label="Cân xe tải">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/truck-scale.jpg" alt="Truck Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales" aria-label="Cân xe tải" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("truck-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                <a href="/products/bench-scales" aria-label="Cân bàn">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px" src="/images/bench-scale.jpg"
                                        alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/bench-scales" aria-label="Cân bàn" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("bench-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                <a href="/products/livestock-scales" aria-label="Cân gia súc">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 170px; padding-left: 30px" src="/images/livestock-scale.jpg"
                                        alt="Livestock Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/livestock-scales" aria-label="Cân gia súc" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("livestock-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                <a href="/products/industrial-scales" aria-label="Cân công nghiệp">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px" src="/images/hand-pallet-atex.jpg"
                                        alt="Industrial Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales" aria-label="Cân công nghiệp" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("industrial-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                <a href="products/maintenance-services" aria-label="Dịch vụ bảo trì">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 200px; padding-left: 25px"
                                        src="/images/maintenace-service.jpg" alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="products/maintenance-services" aria-label="Dịch vụ bảo trì" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("maintenace-service") %></a>
                        </div>
                    </div>
                </a>

            </div>

        </div>
    </section>

    <div class="calltoaction home3 cta-button">
        <a href="" aria-label="Dẫn đầu hiện tại, đáp ứng nhu cầu của bạn" class="hw-btn uppercase"><%- i18n.__("pace-the-present-h2") %>
            <span></span></a>
    </div>
    <!-- END OF Products -->

    <!-- Count number -->
    <div class="numbers home3">
        <div class="row">

            <div class="col-sm-offset-3 col-sm-2">
                <div class="number">
                    <div id="odometer1" class="odometer"></div>
                    <span class="odometer-plus">+</span>
                    <div class="numbername uppercase"><%- i18n.__("customers") %></div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="number">
                    <div id="odometer2" class="odometer"></div>
                    <span class="odometer-plus">+</span>
                    <div class="numbername uppercase"><%- i18n.__("nav_products") %></div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="number">
                    <div id="odometer5" class="odometer"></div>
                    <span class="odometer-plus">+</span>
                    <div class="numbername uppercase"><%- i18n.__("years") %></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF Count number -->

    <!--  News -->
    <div class="pricingtables darkbg">
        <div class="row">
            <h2 class="text-center uppercase" title="TIN TỨC"><%- i18n.__("nav_news") %></h2>
            <div class="price-plans">

                <div class="col-sm-4" style="margin-bottom: 5px">
                    <div class="panel panel-info">
                        <div class="text-center">
                            <img src="/images/viv-bangkok-6.jpg" alt="We are in VIV Asean 2019 at Bangkok" >
                            <h4 title="We are in VIV Asean 2019 at Bangkok"><%- i18n.__("we-are-in-viv-asean-2019") %></h4>
                        </div>
                        <div class="panel-footer" style="padding: 5px 0">
                            <a class="btn btn-lg btn-pricetable" href="/news/we-are-in-viv-asean-2019-at-bangkok"><%- i18n.__("read-more") %></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="text-center">
                            <img src="/images/hand-over-signing-ceremony-1.jpg" alt="Hand Over Signing Ceremony">
                            <h4 title="Hand Over Signing Ceremony"><%- i18n.__("hand-over-signing-ceremony") %></h4>
                        </div>
                        <div class="panel-footer" style="padding: 5px 0">
                            <a class="btn btn-lg btn-pricetable" href="/news/hand-over-signing-ceremony"><%- i18n.__("read-more") %></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End of News -->


    <% include partials/footer %>
</body>

<% include partials/scripts %>

</html>