<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>
    <% include partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_news") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/" target="_self"><%- i18n.__("nav_home") %></a></li>
                    <li class="active"><span><%- i18n.__("nav_news") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="content blog">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <!-- Blog Post-->
                <article>
                    <div class="shadow-effect">
                        <img class="thumbnail" src="/images/viv-bangkok-6.jpg"
                            alt="We are in VIV Asean 2019 at Bangkok" />
                        <div class="post-content">
                            <div class="themeta">
                                <span>22/05/2019</span>
                                <span><i class="fa fa-comments"></i> 0</span>
                                <span><%- i18n.__("posted-by") %> <a href="">Admin</a></span>
                                <span></span>
                            </div>
                            <h2 title="We are in VIV Asean 2019 at Bangkok">
                                <a href="/news/we-are-in-viv-asean-2019-at-bangkok"><%- i18n.__("we-are-in-viv-asean-2019") %></a></h2>
                            <a class="button"
                                href="/news/we-are-in-viv-asean-2019-at-bangkok"><%- i18n.__("read-more") %> →</a>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="shadow-effect">
                        <img class="thumbnail" src="/images/hand-over-signing-ceremony-3.jpg"
                            alt="Hand Over Signing Ceremony" />
                        <div class="post-content">
                            <div class="themeta">
                                <span>22/05/2019</span>
                                <span><i class="fa fa-comments"></i> 0</span>
                                <span><%- i18n.__("posted-by") %> <a href="">Admin</a></span>
                                <span></span>
                            </div>
                            <h2 title="Hand Over Signing Ceremony"><a
                                    href="/news/hand-over-signing-ceremony"><%- i18n.__("hand-over-signing-ceremony") %></a></h2>
                            <a class="button" href="/news/hand-over-signing-ceremony"><%- i18n.__("read-more") %> →</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <% include partials/footer %>
</body>
<% include partials/scripts %>

</html>