<!DOCTYPE html>
<html lang="vi">
<% include partials/head %>

<body>
    <% include partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/" target="_self"><%- i18n.__("nav_home") %></a></li>
                    <li class="active"><span><%- i18n.__("nav_products") %></span></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="calltoaction home3">

        <div class="row">
            <blockquote class="blockquote-colored">
                <p><%- i18n.__("genre-list") %></p>
            </blockquote>
        </div>
        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/floor-scale.jpg" alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("floor-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/truck-scale.jpg" alt="Truck Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("truck-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/bench-scales">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px" src="/images/bench-scale.jpg"
                                        alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/bench-scales" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("bench-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/livestock-scales">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 170px; padding-left: 30px" src="/images/livestock-scale.jpg"
                                        alt="Livestock Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/livestock-scales" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("livestock-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px" src="/images/hand-pallet-atex.jpg"
                                        alt="Industrial Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("industrial-scale") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/maintenance-services">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 200px; padding-left: 25px"
                                        src="/images/maintenace-service.jpg" alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/maintenance-services" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("maintenace-service") %></a>
                        </div>
                    </div>
                </a>

            </div>

        </div>

    </section>
    <% include partials/footer %>
</body>
<% include partials/scripts %>

</html>