<!DOCTYPE html>
<html lang="vi">
<% include ../../partials/head %>

<body>
    <% include ../../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li><a href="/products/truck-scales" target="_self"><%- i18n.__("truck-scale") %></a></li>
                    <li class="active"><span><%- i18n.__("la") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="services2" style="background: #E9E9E9">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 title="TT-bX Type" class="text-left"><span><%- i18n.__("la") %></span></h2><br />
                <p class="just">Since the pit type (SC-4LA · 6LA, SC-6LV · 8LV) is embedded
                    in the pit (foundation), the level with the ground.</p>
            </div>
        </div>
    </section>

    <section class="calltoaction home3" style="background: #fff">
        <div class="row spacing-45">
            <div class="col-md-offset-1 col-sm-10">
                <h3><%- i18n.__("appearance") %></h3>
                <hr>
                <img src="/images/la-type.jpg" alt="Embedded Type (LA Type / LV Type)">
                <h3><%- i18n.__("specification") %></h3>
                <hr>
                <h3><%- i18n.__("la-h3-1") %></h3>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <thead>
                            <tr>
                                <th><%- i18n.__("capacity") %> (t)</th>
                                <th><%- i18n.__("scale-interval") %> (kg)</th>
                                <th><%- i18n.__("platform-dimension") %> (m)</th>
                                <th>A (mm)</th>
                                <th>B (mm)</th>
                                <th>H(mm)</th>
                                <th><%- i18n.__("model") %></th>
                            </tr>
                        </thead>
                        <tbody class="table01">
                            <tr>
                                <td>15</td>
                                <td>5・10</td>
                                <td>2.4×5.5</td>
                                <td>2,400</td>
                                <td>5,500</td>
                                <td>682</td>
                                <td>SC-4LA-15</td>
                            </tr>
                            <tr>
                                <td rowspan="2">20</td>
                                <td>5・10</td>
                                <td>2.7×6.0</td>
                                <td>2,700</td>
                                <td>6,000</td>
                                <td>757</td>
                                <td>SC-4LA-20</td>
                            </tr>
                            <tr>
                                <td>5・10</td>
                                <td>2.7×6.5</td>
                                <td>2,700</td>
                                <td>6,500</td>
                                <td>757</td>
                                <td>SC-4LA-20</td>
                            </tr>
                            <tr>
                                <td rowspan="2">25</td>
                                <td>5・10</td>
                                <td>2.7×6.5</td>
                                <td>2,700</td>
                                <td>6,500</td>
                                <td>807</td>
                                <td>SC-4LA-25</td>
                            </tr>
                            <tr>
                                <td>5・10</td>
                                <td>3.0×7.5</td>
                                <td>3,000</td>
                                <td>7,500</td>
                                <td>882</td>
                                <td>SC-4LA-25</td>
                            </tr>
                            <tr>
                                <td rowspan="3">30</td>
                                <td>5・10</td>
                                <td>3.0×7.5</td>
                                <td>3,000</td>
                                <td>7,500</td>
                                <td>882</td>
                                <td>SC-4LA-30</td>
                            </tr>
                            <tr>
                                <td>5・10</td>
                                <td>3.0×8.0</td>
                                <td>3,000</td>
                                <td>8,000</td>
                                <td>882</td>
                                <td>SC-4LA-30</td>
                            </tr>
                            <tr>
                                <td>5・10</td>
                                <td>3.0×10.5</td>
                                <td>3,000</td>
                                <td>10,500</td>
                                <td>932</td>
                                <td>SC-4LA-30</td>
                            </tr>
                            <tr>
                                <td rowspan="3">40</td>
                                <td>10・20</td>
                                <td>3.0×8.0</td>
                                <td>3,000</td>
                                <td>8,000</td>
                                <td>932</td>
                                <td>SC-4LA-40</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×10.5</td>
                                <td>3,000</td>
                                <td>10,500</td>
                                <td>1,032</td>
                                <td>SC-4LA-40</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×12.0</td>
                                <td>3,000</td>
                                <td>12,000</td>
                                <td>1,020</td>
                                <td>SC-4LA-40</td>
                            </tr>
                            <tr>
                                <td rowspan="5">50</td>
                                <td>10・20</td>
                                <td>3.0×8.0</td>
                                <td>3,000</td>
                                <td>8,000</td>
                                <td>1,035</td>
                                <td>SC-4LA-50</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×10.5</td>
                                <td>3,000</td>
                                <td>10,500</td>
                                <td>1,035</td>
                                <td>SC-4LA-50</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×12.0</td>
                                <td>3,000</td>
                                <td>12,000</td>
                                <td>1,023</td>
                                <td>SC-4LA-50</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×13.0</td>
                                <td>3,000</td>
                                <td>13,000</td>
                                <td>1,023</td>
                                <td>SC-4LA-50</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×15.0</td>
                                <td>3,000</td>
                                <td>15,000</td>
                                <td>1,051</td>
                                <td>SC-6LA-50</td>
                            </tr>
                            <tr>
                                <td rowspan="5">60</td>
                                <td>10・20</td>
                                <td>3.0×8.0</td>
                                <td>3,000</td>
                                <td>8,000</td>
                                <td>1,035</td>
                                <td>SC-4LA-60</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×10.5</td>
                                <td>3,000</td>
                                <td>10,500</td>
                                <td>1,035</td>
                                <td>SC-4LA-60</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×12.0</td>
                                <td>3,000</td>
                                <td>12,000</td>
                                <td>1,023</td>
                                <td>SC-4LA-60</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×13.0</td>
                                <td>3,000</td>
                                <td>13,000</td>
                                <td>1,023</td>
                                <td>SC-4LA-60</td>
                            </tr>
                            <tr>
                                <td>10・20</td>
                                <td>3.0×15.0</td>
                                <td>3,000</td>
                                <td>15,000</td>
                                <td>1,051</td>
                                <td>SC-6LA-60</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><%- i18n.__("la-note") %></p>
                <h3><%- i18n.__("la-h3-2") %></h3>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <thead>
                            <tr>
                                <th><%- i18n.__("capacity") %> (t)</th>
                                <th><%- i18n.__("scale-interval") %> (kg)</th>
                                <th><%- i18n.__("platform-dimension") %> (m)</th>
                                <th><%- i18n.__("width") %> (mm)</th>
                                <th><%- i18n.__("length") %> (mm)</th>
                                <th><%- i18n.__("height") %> (mm)</th>
                                <th><%- i18n.__("model") %></th>
                            </tr>
                        </thead>
                        <tbody class="table01">
                            <tr>
                                <td>30</td>
                                <td>10</td>
                                <td>3x8</td>
                                <td>3,000</td>
                                <td>8,000</td>
                                <td>400</td>
                                <td>SC-6LV-30</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>10</td>
                                <td>3x10.5</td>
                                <td>3,000</td>
                                <td>10,500</td>
                                <td>400</td>
                                <td>SC-6LV-30</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>10・20</td>
                                <td>3x8</td>
                                <td>3,000</td>
                                <td>8,000</td>
                                <td>400</td>
                                <td>SC-6LV-40</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>10・20</td>
                                <td>3x10.5</td>
                                <td>3,000</td>
                                <td>10,500</td>
                                <td>400</td>
                                <td>SC-6LV-40</td>
                            </tr>
                            <tr>
                                <td>50</td>
                                <td>10・20</td>
                                <td>3x15</td>
                                <td>3,000</td>
                                <td>15,000</td>
                                <td>400</td>
                                <td>SC-8LV-50</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>10・20</td>
                                <td>3x15</td>
                                <td>3,000</td>
                                <td>15,000</td>
                                <td>400</td>
                                <td>SC-8LV-60</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3><%- i18n.__("external-form") %></h3>
                <hr>
                <img src="/images/la-detail.jpg" alt="Embedded Type (LA Type / LV Type)">
            </div>

    </section>
    <% include ../../partials/footer %>
</body>
<% include ../../partials/scripts %>

</html>