<!DOCTYPE html>
<html lang="vi">
<% include ../../partials/head %>

<body>
    <% include ../../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li><a href="/products/truck-scales" target="_self"><%- i18n.__("truck-scale") %></a></li>
                    <li class="active"><span><%- i18n.__("pts-2") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="services2" style="background: #E9E9E9">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 title="TT-bX Type" class="text-left"><span><%- i18n.__("pts-2") %></span></h2><br />
                <p class="just"><%- i18n.__("pts-2-p") %></p>
            </div>
        </div>
    </section>

    <section class="calltoaction home3" style="background: #fff">
        <div class="row spacing-45">
            <div class="col-md-offset-1 col-sm-10">
                <h3><%- i18n.__("appearance") %></h3>
                <hr>
                <img src="/images/pts-2.jpg" alt="Movable Scale/Portable type (PTS-Ⅱ)">
                <h3><%- i18n.__("features") %></h3>
                <hr>
                <p><%- i18n.__("pts-2-feature") %></p>
                <h3><%- i18n.__("specification") %></h3>
                <hr>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <tbody class="table01">
                            <tr>
                                <td></td>
                                <td><%- i18n.__("portable-type") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("model") %></td>
                                <td>PTS-Ⅱ</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("capacity") %></td>
                                <td>20T (10t × 2units)</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("scale-interval") %></td>
                                <td>10kg</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("platform-dimension") %></td>
                                <td>500mm×900mm (per wheel)</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("static-accuracy") %></td>
                                <td><%- i18n.__("pts-2-static-accuracy-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("dynamic-accuracy") %></td>
                                <td>±0.2%/F.S (per axis)</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("passing-speed") %></td>
                                <td><%- i18n.__("pts-2-passing-speed-p") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("measurement-axes") %></td>
                                <td>8 axes</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("indicator") %></td>
                                <td><%- i18n.__("pts-2-indicator-p-1") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("power") %></td>
                                <td><%- i18n.__("pts-2-power-p") %></td>
                            </tr>
                            <tr>
                                <td colspan="2"><%- i18n.__("pts-2-product-composition") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("weighbridge") %></td>
                                <td>31kg/piece × 2pieces</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("slope") %></td>
                                <td>12kg/piece × 4pieces</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("dummy-plate") %></td>
                                <td>19kg/piece × 8pieces</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("indicator") %></td>
                                <td>10.5kg x 1unit</td>
                            </tr>
                            <tr>
                                <td colspan="2"><%- i18n.__("protection-grade") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("weighing-part") %></td>
                                <td>IP65</td>
                            </tr>
                            <tr>
                                <td>Indicator</td>
                                <td><%- i18n.__("pts-2-indicator-p-2") %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="/images/pts-2-detail-1.jpg" alt="Movable Scale/Portable type (PTS-Ⅱ)">
                <h3><%- i18n.__("external-form") %></h3>
                <hr>
                <img src="/images/pts-2-detail-2.jpg" alt="Movable Scale/Portable type (PTS-Ⅱ)">
            </div>

    </section>
    <% include ../../partials/footer %>
</body>
<% include ../../partials/scripts %>

</html>