<!DOCTYPE html>
<html lang="vi">
<% include ../../partials/head %>

<body>
    <% include ../../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li><a href="/products/floor-scales" target="_self"><%- i18n.__("floor-scale") %></a></li>
                    <li class="active"><span><%- i18n.__("tt-sus") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="services2" style="background: #E9E9E9">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 title="TT-SUS Type" class="text-left"><span><%- i18n.__("tt-sus") %></span></h2><br />
                <p class="just"><%- i18n.__("tt-sus-detail-p") %>
                </p>
            </div>
        </div>
    </section>

    <section class="calltoaction home3" style="background: #fff">
        <div class="row spacing-45">
            <div class="col-md-offset-1 col-sm-10">
                <h3><%- i18n.__("appearance") %></h3>
                <hr>
                <img src="/images/tt-sus.jpg" alt="TT-SUS Type">
                <h3><%- i18n.__("features") %></h3>
                <hr>
                <ul>
                    <li><%- i18n.__("tt-sus-feature-li-1") %></li>
                    <li><%- i18n.__("tt-sus-feature-li-2") %></li>
                    <li><%- i18n.__("tt-sus-feature-li-3") %></li>
                    <li><%- i18n.__("tt-sus-feature-li-4") %></li>
                </ul>
                <h3><%- i18n.__("specification") %></h3>
                <hr>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <thead>
                            <tr>
                                <th rowspan="2"><%- i18n.__("model") %></th>
                                <th rowspan="2"><%- i18n.__("capacity") %></th>
                                <th rowspan="2"><%- i18n.__("scale-interval") %></th>
                                <th colspan="7"><%- i18n.__("platform-dimension") %></th>
                                <th rowspan="2"><%- i18n.__("height") %> (mm)</th>
                            </tr>
                            <tr>
                                <th>1000x1000</th>
                                <th>1200x1200</th>
                                <th>1500x1500</th>
                                <th>1500x1800</th>
                                <th>1800x1800</th>
                                <th>2000x2000</th>
                                <th>2000x3000</th>
                            </tr>
                        </thead>
                        <tbody class="table01">
                            <tr>
                                <td>TT-300(SUS)</td>
                                <td>300kg</td>
                                <td>100g</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>145*</td>
                            </tr>
                            <tr>
                                <td>TT-600(SUS)</td>
                                <td>600kg</td>
                                <td>200g</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>145*</td>
                            </tr>
                            <tr>
                                <td>TT-1(SUS)</td>
                                <td>1T</td>
                                <td>500g</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>145*</td>
                            </tr>
                            <tr>
                                <td>TT-1.5(SUS)</td>
                                <td>1.5T</td>
                                <td>500g</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td></td>
                                <td>O</td>
                                <td></td>
                                <td>145*</td>
                            </tr>
                            <tr>
                                <td>TT-2(SUS)</td>
                                <td>2T</td>
                                <td>1kg</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td></td>
                                <td>145</td>
                            </tr>
                            <tr>
                                <td>TT-3(SUS)</td>
                                <td>3T</td>
                                <td>1kg</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td>O</td>
                                <td></td>
                                <td>170</td>
                            </tr>
                            <tr>
                                <td>TT-5(SUS)</td>
                                <td>5T</td>
                                <td>2kg</td>
                                <td></td>
                                <td></td>
                                <td>O</td>
                                <td></td>
                                <td></td>
                                <td>O</td>
                                <td>O</td>
                                <td>230</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <p><%- i18n.__("tt-sus-note-1") %><br />
                    <%- i18n.__("tt-sus-note-2") %></p>
                <h3><%- i18n.__("options") %></h3>
                <hr>
                <img src="/images/tt-sus-detail.jpg" alt="TT-SUS Type Detail">
                <h3><%- i18n.__("external-form") %></h3>
                <hr>
                <img src="/images/tt-sus-detail-2.png" alt="TT-SUS Type Detail">
            </div>

        </div>

    </section>
    <% include ../../partials/footer %>
</body>
<% include ../../partials/scripts %>

</html>