<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head %>

<body>
    <% include ../../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li><a href="/products/floor-scales" target="_self"><%- i18n.__("floor-scale") %></a></li>
                    <li class="active"><span><%- i18n.__("twin") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="services2" style="background: #E9E9E9">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 title="Twin Connect" class="text-left"><span><%- i18n.__("twin") %></span></h2><br />
                <p class="just"><%- i18n.__("twin-p") %>
                </p>
            </div>
        </div>
    </section>

    <section class="calltoaction home3" style="background: #fff">
        <div class="row spacing-45">
            <div class="col-md-offset-1 col-sm-10">
                <h3><%- i18n.__("appearance") %></h3>
                <hr>
                <img src="/images/twin-detail.jpg" alt="">
                <h3><%- i18n.__("features") %></h3>
                <hr>
                <ul>
                    <li><%- i18n.__("twin-feature-li-1") %></li>
                    <li><%- i18n.__("twin-feature-li-2") %></li>
                    <li><%- i18n.__("twin-feature-li-3") %></li>
                    <li><%- i18n.__("twin-feature-li-4") %></li>
                </ul>
                <h3><%- i18n.__("specification") %></h3>
                <hr>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <thead>
                            <tr>
                                <th rowspan="2"><%- i18n.__("model") %></th>
                                <th rowspan="2"><%- i18n.__("capacity") %></th>
                                <th rowspan="2"><%- i18n.__("scale-interval") %></th>
                                <th colspan="8"><%- i18n.__("platform-dimension") %> (mm)</th>
                                <th rowspan="2"><%- i18n.__("height") %> (mm)</th>
                            </tr>
                            <tr>
                                <th>818x800</th>
                                <th>818x1150</th>
                                <th>1168x800</th>
                                <th>1168x1150</th>
                                <th>844x800</th>
                                <th>832x1150</th>
                                <th>1194x800</th>
                                <th>1182x1150</th>
                            </tr>
                        </thead>
                        <tbody class="table01">
                            <tr>
                                <td>TW-300-SUS/A</td>
                                <td rowspan="4">300kg</td>
                                <td rowspan="4">100g</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td rowspan="4">108+-2</td>
                            </tr>
                            <tr>
                                <td>TW-300-SUS/B</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-300-SUS/C</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-300-SUS/D</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-600-SUS/A</td>
                                <td rowspan="4">600kg</td>
                                <td rowspan="4">200g</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td rowspan="4">108+-2</td>
                            </tr>
                            <tr>
                                <td>TW-600-SUS/B</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-600-SUS/C</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-600-SUS/D</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-1500-SUS/A</td>
                                <td rowspan="4">1500kg</td>
                                <td rowspan="4">500g</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td rowspan="4">108+-2</td>
                            </tr>
                            <tr>
                                <td>TW-1500-SUS/B</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-1500-SUS/C</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>TW-1500-SUS/D</td>
                                <td>O</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>O</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <p><%- i18n.__("twin-note") %></p>
            </div>

        </div>

    </section>
    <% include ../../partials/footer %>
</body>
<% include ../../partials/scripts %>

</html>