<!DOCTYPE html>
<html lang="vi">
<% include ../../partials/head %>

<body>
    <% include ../../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li><a href="/products/floor-scales" target="_self"><%- i18n.__("floor-scale") %></a></li>
                    <li class="active"><span><%- i18n.__("u-shaped") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="services2" style="background: #E9E9E9">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 title="TƯ VẤN GIẢI PHÁP" class="text-left"><span><%- i18n.__("u-shaped") %></span></h2><br />
            </div>
        </div>
    </section>

    <section class="calltoaction home3" style="background: #fff">
        <div class="row spacing-45">
            <div class="col-md-offset-1 col-sm-10">
                <h3><%- i18n.__("appearance") %></h3>
                <hr>
                <img src="/images/u-shaped-detail.jpg" alt="U-Shaped Scale">
                <h3><%- i18n.__("features") %></h3>
                <hr>
                <ul>
                    <li><%- i18n.__("u-detail-li-1") %></li>
                    <li><%- i18n.__("u-detail-li-2") %></li>
                    <li><%- i18n.__("u-detail-li-3") %></li>
                </ul>
                <h3><%- i18n.__("specification") %></h3>
                <hr>
                <div class="p_table table_scroll">
                    <table class="table_box">
                        <thead>
                            <tr>
                                <th colspan="2"><%- i18n.__("body") %></th>
                            </tr>
                        </thead>
                        <tbody class="table01">
                            <tr>
                                <td><%- i18n.__("model") %></td>
                                <td><%- i18n.__("u-shaped") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("capacity") %></td>
                                <td>1500kg</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("scale-interval") %></td>
                                <td>500g</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("platform-dimension") %></td>
                                <td>1200 × 1060 (Opening 820)</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("material") %></td>
                                <td><%- i18n.__("u-shaped-material-content") %></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="2"><%- i18n.__("indicator") %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%- i18n.__("model") %></td>
                                <td>HD-904D</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("display") %></td>
                                <td><%- i18n.__("u-shaped-display-content") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("function") %></td>
                                <td><%- i18n.__("u-shaped-function-content") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("power") %></td>
                                <td>AC 100V + 10% ~ -15% ~ 4VA</td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("indicator") %></td>
                                <td><%- i18n.__("u-shaped-indicator-content") %></td>
                            </tr>
                            <tr>
                                <td><%- i18n.__("options") %></td>
                                <td><%- i18n.__("u-shaped-options-content") %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><%- i18n.__("note-1") %> <br />
                    <%- i18n.__("note-2") %>
                </p>
            </div>

        </div>

    </section>
    <% include ../../partials/footer %>
</body>
<% include ../../partials/scripts %>

</html>