<!DOCTYPE html>
<html lang="vi">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li class="active"><span><%- i18n.__("floor-scale") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- SERVICES INTRO -->
    <section class="services2">
        <div class="row">
            <div class="col-md-12">
                <h2 title="TƯ VẤN GIẢI PHÁP" class="text-left"><span><%- i18n.__("floor-scale-list") %></span></h2><br />
                <p class="just"><%- i18n.__("floor-scale-desc") %></p>

            </div>
        </div>
    </section>

    <section class="calltoaction home3">

        <div class="row">
            <blockquote class="blockquote-colored">
                <p><%- i18n.__("ss-series") %></p>
            </blockquote>
        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/tt">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top:30px;" src="/images/tt-type.jpg" alt="TT Type">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/tt" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("tt") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/u-shaped">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img src="/images/u-shape-scale.jpg"
                                        alt="U-Shaped Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/u-shaped" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("u-shaped") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/ttl">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/floor-scale.jpg" alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/ttl" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("ttl") %></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="row spacing-45">
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/flexible-container">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px"
                                        src="/images/flexible-container-scale.jpg" alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/flexible-container" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("flexible-container") %></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Stainless steel series -->
        <div class="row">
            <blockquote class="blockquote-colored">
                <p><%- i18n.__("stainless-steel") %></p>
            </blockquote>
        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/tt-sus">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/tt-sus.jpg" alt="TT Sus Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/tt-sus" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("tt-sus") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/utt-2">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 0px;" src="/images/utt-2.jpg" alt="UTT II">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/utt-2" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("utt-2") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/twin-connect">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 30px" src="/images/twin.jpg"
                                        alt="Twin Connect Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/twin-connect" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("twin") %></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Intrinsically safe explosion-proof series -->
        <div class="row">
            <blockquote class="blockquote-colored">
                <p><%- i18n.__("safe-explosion") %></p>
            </blockquote>
        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/tt-bx">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 40px;" src="/images/tt-type.jpg" alt="TT Type">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/tt-bx" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("tt-bx") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/tt-sbx">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/tt-sus.jpg" alt="Truck Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/tt-sbx" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("tt-sbx") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/floor-scales/utt-2-sbx">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 30px" src="/images/utt-II-sbx.jpg"
                                        alt="Floor Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/floor-scales/utt-2-sbx" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("utt-2-sbx") %></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </section>
    <!-- END OF SERVICES -->
    <% include ../partials/footer %>
</body>
<% include ../partials/scripts %>

</html>