<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li class="active"><span><%- i18n.__("industrial-scale") %></span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SERVICES INTRO -->
    <section class="services2">
        <div class="row">
            <div class="col-md-12">
                <h2 title="TƯ VẤN GIẢI PHÁP" class="text-left"><span><%- i18n.__("industrial-scale") %></span></h2>
                <br />
                <p class="just"><%- i18n.__("industrial-scale-desc") %></p>

            </div>
        </div>
    </section>

    <section class="calltoaction home3">

        <div class="row">
            <blockquote class="blockquote-colored">
                <p>List</p>
            </blockquote>
        </div>
        <div class="row spacing-45">
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/hand-pallet">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px"
                                        src="/images/hand-pallet-atex.jpg" alt="Hand Pallet ATEX Specification">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/hand-pallet" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("hand-pallet") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/fis2">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 80px" src="/images/fis2.jpg"
                                        alt="Digi-Tough NEO（FIS2-150/300）">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/fis2" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("fis2") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/digi-pallet">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px"
                                        src="/images/hand-pallet-atex.jpg" alt="Digi Pallet">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/digi-pallet" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("digi-pallet") %></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row spacing-45">
            <!-- <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/dfs">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px"
                                        src="/images/hand-pallet-atex.jpg" alt="Digi-fork (DFS)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/dfs" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("dfs") %></a>
                        </div>
                    </div>
                </a>
            </div> -->

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/drs">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 90px" src="/images/drs.jpg"
                                        alt="Running scale (Overhead scale)(DRS-300/DRS-500)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/drs" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("drs") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/belt-scale">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px" src="/images/belt-scale.jpg"
                                        alt="Belt Scale">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/belt-scale" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("belt-scale") %></a>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
        <div class="row spacing-45">
            <!-- <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/tfm">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-left: 60px" src="/images/tfm.png"
                                        alt="Liquid filling machine (TFM-30S)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/tfm" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("tfm") %></a>
                        </div>
                    </div>
                </a>
            </div> -->

            <!-- <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/industrial-scales/caston">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 60px"
                                        src="/images/hand-pallet-atex.jpg" alt="Crane scale (CastonⅠ・Ⅲ)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/industrial-scales/caston" class="hw-btn"
                                style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("caston") %></a>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </section>
    <% include ../partials/footer %>
</body>
<% include ../partials/scripts %>

</html>