<!DOCTYPE html>
<html lang="vi">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div id="page-header">
        <div class="title-breadcrumbs">
            <h1><%- i18n.__("nav_products") %></h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/products" target="_self"><%- i18n.__("nav_products") %></a></li>
                    <li class="active"><span><%- i18n.__("truck-scale") %></span></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- SERVICES INTRO -->
    <section class="services2">
        <div class="row">
            <div class="col-md-12">
                <h2 title="TƯ VẤN GIẢI PHÁP" class="text-left"><span><%- i18n.__("truck-scale-list") %></span></h2><br />
                <p class="just"><%- i18n.__("truck-scale-desc") %></p>

            </div>
        </div>
    </section>

    <section class="calltoaction home3">

        <div class="row">
            <blockquote class="blockquote-colored">
                <p><%- i18n.__("loading-part") %></p>
            </blockquote>
        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/la">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top:30px;" src="/images/la-type.jpg" alt="Embedded Type
                                    (LA Type/LV Type)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/la" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("la") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/lb">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/lb-type.jpg" alt="Pit-Less Type
                                    (LB Type/LV Type)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/lb" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("lb") %></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/pts-2">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/pts-2.jpg" alt="Movable
                                    Scale/Portable Type (PTS-II)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/pts-2" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("pts-2") %></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="row spacing-45">
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/vts">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 20px" src="/images/vts.jpg" alt="Super-thin Type
                                        (VTS Type - FTS Type)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/vts" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("vts") %></a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/uts">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-left: 20px" src="/images/uts.jpg"
                                        alt="Movable Scale/Embedded Type (UTS)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/uts" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("uts") %></a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/tt-ta">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="max-height: 180px; padding-top: 30px" src="/images/tt-ta.jpg"
                                        alt="Small Size (TT-TA)">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/tt-ta" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px"><%- i18n.__("tt-ta") %></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Stainless steel series -->
        <div class="row">
            <blockquote class="blockquote-colored">
            </blockquote>
        </div>

        <div class="row spacing-45">

            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <a href="/products/truck-scales/ats-100">
                    <div class="shadow-effect">
                        <div class="row">
                            <div class="col-sm-12 products-item">
                                <p class="just">
                                    <img style="padding-top: 30px;" src="/images/ats-100.jpg" alt="ATS-100">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cta-title a-white">
                        <div class="calltoaction home3 cta-button">
                            <a href="/products/truck-scales/ats-100" class="hw-btn" style="margin:0;padding:12px 20px;font-size:18px">ATS-100</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- END OF SERVICES -->
    <% include ../partials/footer %>
</body>
<% include ../partials/scripts %>

</html>